<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${app_title}</title>
</head>

<body>
    <div id="${app_id}"></div>
    <script type="module">
        import RefreshRuntime from '${base_uri}/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => { }
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    <script type="module" src="${base_uri}/@vite/client"></script>
    <script type="module" src="${base_uri}/${entry}"></script>
</body>

</html>